/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:ital,wght@1,300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&family=Roboto:ital,wght@1,300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Lato', 'Arial', sans-serif; */
    font-family: 'Open Sans', sans-serif;
    overflow-x: h;
    scroll-behavior: smooth;
    
  }
body{
  background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1));
  
}
  /* HEADINGS */
  
  h1, p {
    color: #fff;
    text-align: center;
    line-height: 1.4;
  }
  
  h1 {
    font-size: 2.2rem;
  }
  
  h2 {
    color: #000;
    font-size: 1.3rem;
    text-align: center;
    line-height: 1.4;
    margin-bottom: 10px;
  }
  
  /* BASIC SETUP */
  
  .page-wrapper {
    width: 100%;
    height: auto;
  }
  
  #navbar .nav {
    height: 60px;
    width: 100%;
    background: linear-gradient(rgb(44, 44, 44),rgb(0, 0, 0));
    position: fixed;
    z-index: 999;
  }
  
  #navbar .nav .nav-header {
    display: inline;
    
  }
  #navbar .nav-title img{
      height: 80px;
      width: 150px;
      float: left;
      position: absolute;
      top: -10px;
  }
  
  #navbar .nav .nav-header .nav-title {
    display: inline;
    color: #fff;
    padding: 0;
  }
  
  #navbar .nav .nav-btn {
    display: none;
  }
  
  #navbar .nav .nav-links {
    display: inline;
    font-size: 20px;
    position: absolute;
    left: 180px;
  }
  #navbar .nav .nav-logos {
    display: inline;
    position: absolute;
    right: 0;
    top: 25%;
    font-size: 18px;
  }
  #navbar .nav .nav-logos a{
      padding: 0 30px;
      text-decoration: none;
      display: inline;
      vertical-align: middle;
      color: white;
  }
  #navbar .nav .nav-links a {
    display: inline-block;
    padding: 13px 10px;
    text-decoration: none;
    opacity: 0.4;
    color: #efefef;
    transition: 0.3s;
  }
  #navbar .nav .nav-links a:hover {
    font-size: 22px;
    letter-spacing: 1px;
  }
  #navbar .nav .nav-links .active{
    opacity: 1;
    font-size: 22px;
  }
  #navbar .nav .nav-logos sup{
    text-decoration: none;
    font-size: 7px;
    color: #efefef;
    background: #E50914;
    border: 1px solid #E50914;
    border-radius: 50%;
    padding: 1px 3px 0 2px;
    position: relative;
    top: -4px;
    left: -1px;
  }
  

  #navbar .nav .avatar{
      width: 26px;
      height: 26px;
      cursor: pointer;
      border-radius: 2px;
  }  
  #navbar .nav-logos .fa-angle-down{
    padding: 5px;
    font-size: 13px;
    animation: none!important;
    color: white!important;
  }
  #navbar .nav #nav-check {
    display: none;
  }
  #navbar .nav .nav-logos a:hover{
    color: #E50914;
  }


  
  /* SECTIONS */
  
  .headline {
    max-width: 100vw;
    height: 105vh;
    overflow-x: hidden;
    min-height: 350px;
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.9)), url('images/image26.jpg');
    background-size: cover;
    /* background-attachment:fixed ; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }
  .headline aside{
      margin: 40px 0 0 40px;
  }
  .headline aside .film{
    text-transform: uppercase;
    letter-spacing: 3px;
    position: absolute;
    font-size: 12px;
    margin-top: 20px;
    margin-left: -5px;
    color: rgb(168, 168, 168);
  }
  .headline aside .playBtn{
      width: 100px;
      color: #000;
      background: rgba(255, 255, 255,0.8);
      font-weight: 700;
      padding: 8px;
      cursor: pointer;
      border: none;
      border-radius: 5px;
      transition: 0.5s;
  }
  .headline aside .playBtn:hover{
      background: rgba(255, 255, 255,1);
  }
  .headline aside .playBtn:hover i,
    .headline aside .moreBtn:hover i{
      animation: vibrate 0.5s ease;
   }
   @keyframes vibrate{
       0%,100%{
           transform: translateX(-1px) scale(1);
       }
       50%{
           transform: translateX(1px) scale(1.05);
       }
   }
  .headline aside .moreBtn{
    width: 130px;
    color: #fff;
    cursor: pointer;
    background: rgb(44, 44, 44);
    font-weight: 600;
    padding: 9px;
    border: none;
    border-radius: 5px;
    transition: 0.5s;
  }
  .headline aside .moreBtn:hover{
    background: rgba(62, 62, 62,1);
  }
  .headline aside button .play{
      font-size: 17px;
      margin-left: 7px;
  }
  .headline aside button .more{
    font-size: 17px;
    margin-left: 7px;
  }
  .fa-info-circle{
      color: #fff;
      font-size: 16px;
  }
  .headline p{
      max-width: 28%;
      font-weight: 900;
      font-size: 30px;
      margin-top: 130px;
      margin-left: 34vw;
      text-align: center;
      text-shadow: 2px 2px 5px #000;
  }
  .headline .movie-name{
      margin-left:50px;
  }
  .headline .movie-name small{
      font-size: 28px;
      font-weight: 900;
      color: #E50914;
  }
  .headline .movie-name span{
      display: block;
      font-size: 30px;
      font-weight: 800;
      color: white;
  }
  section .heading{
    background: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9));
    color: white;
    font-weight: 700;
    font-size: 22px;
    padding: 10px 0 10px 20px;
  }
  section .heading i{
    font-size: 15px;
    border: 2px solid white;
    border-radius: 50%;
    padding: 4px;
    cursor: pointer;
    transform: scale(0.8) rotate(0);
    transition: 0.75s;
  }
  section .heading i:hover{
    transform: scale(1) rotate(450deg);
  }
  section .viewMore{
    background: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9));
    display: flex;
    justify-content: center;
  }
  section .viewMore button{
    background: rgba(0,0,0,0.1);
    color: white;
    border: 1px solid #fff;
    font-size: 20px;
    border-radius: 5px;
    padding: 5px 8px;
    cursor: pointer;
    transition: 0.5s;
  }
  section .viewMore button:hover{
    background-color:rgba(0,0,0,0.4) ;
  }

  section .viewMore button i{
    font-size: 12px;
    vertical-align: middle;
    transition: 0.75s;
  }
  section .viewMore button:hover i{
    transform: rotate(450deg);
  }
  /*Movies */
  .movies {
    width: 100%;
    height: auto;
    background: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9));
    display: flex;
    /* padding: 0px 20px; */
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  
  .movie-container {
    margin: 5px;
    transition: 0.5s;
    cursor: pointer;
  }
  .movie-container p {
    color: rgb(158, 158, 158);
    text-align: left;
    line-height: 1.4;
    font-size: 14px;
    margin: 0 0 15px 10px;
  }
  .movie-container h3{
      margin-left: 10px;
      color: white;
  }
  .movie-container h3 span{
      font-size: 12px;
      border: 1px solid whitesmoke;
      padding:1px 1px 3px 1px;
      margin-top: -20px!important;
      margin-right:6px;
  }
  .movie-container img {
    width: 100%;
    max-width: 240px;
    height: 140px;
    border-radius: 4px;
    /* margin-bottom: 15px; */
  }
  .movie-container:hover {
        transform: scale(1.07);
    }
    
  /* FOOTER */
  .link {
    padding: 50px 100px 0 100px;
    border-top: 0.1px solid #686868;
    background: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9));
    /* color: rgba(255, 255, 255,1); */
  }
  
  .sub-links ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 200px);
    margin-left: 18%;
  }

  .sub-links a {
    color: #686868;
    font-size: 14px;
    text-decoration: none;
  }
  
  .sub-links a:hover {
    color: #858585;
    text-decoration: underline;
  }
  .logos{
    margin-left: 17.5vw;
    padding-bottom: 10px;
  }
  .logos a{
    padding: 10px;
  }
  
  .logo {
    color: #686868
  }
  .logo:hover{
    color:#858585;
  }
  
  footer {
    background: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9));
    padding: 30px 10px 20px 10px;
    display: block;
    /* margin-left: -340px; */
  }
  footer a{
    margin-left: 24vw;
    text-decoration: none;
    color: #686868;
    border: 2px solid #686868;
    padding: 3px 7px;
    
  }
  footer p{
    margin-top: 20px;
    margin-left: 24vw;
    text-align: left;
    color: #686868;
  }
  footer a:hover{
    color: #858585;
    border: 2px solid #858585;

  }
  @media(max-width:1280px){
    .sub-links ul{
      grid-gap: 20px;
      margin-left: 15%;
    }
  }
  @media(max-width:1125px){
    .sub-links ul{
      grid-gap: 20px;
      margin-left: 11%;
    }
  }
  @media(max-width:1080px){
    .sub-links ul{
      grid-gap: 20px;
      margin-left: 5%;
    }
  }
  @media(max-width:1000px){
    .sub-links ul{
      grid-gap: 20px;
      grid-template-columns: repeat(3, 190px);
      margin-left: 15%;
    }
  }
  @media(max-width:850px){
    .sub-links ul{
      grid-gap: 20px;
      grid-template-columns: repeat(3, 180px);
      margin-left: 5%;
    }
  }
  @media(max-width:750px){
    .sub-links ul{
      grid-gap: 20px;
      grid-template-columns: repeat(3, 160px);
      margin-left: 0%;
    }
  }
  @media(max-width:650px){
    .sub-links ul{
      grid-gap: 20px;
      grid-template-columns: repeat(3, 140px);
      margin-left: -10%;
    }
  }
  @media(max-width:540px){
    .headline p{
      max-width: 35%;
      font-size: 27px;
      margin-top: 110px;
  }
    .sub-links ul{
      grid-gap: 15px;
      grid-template-columns: repeat(2, 140px);
      margin-left: 10%;
    }
    .logos{
      margin-left: 5vw;
      padding-bottom: 10px;
    }
  }
  @media(max-width:400px){
    .headline p{
      max-width: 40%;
      font-size: 27px;
      margin-top: 100px;
  }
    .sub-links ul{
      grid-gap: 15px;
      grid-template-columns: repeat(2, 140px);
      margin-left: -15%;
    }
    .logos{
      margin-left: -8vw;
      padding-bottom: 10px;
    }
  }
/* icon animation */
.nav .nav-logos i:hover{
  animation: ring 1s ease;
}
.fa-bell:hover sup{
  color: #efefef;
}
@keyframes ring {
  0% {
      transform: rotate(35deg);
  }
  12.5% {
      transform: rotate(-30deg);
  }
  25% {
      transform: rotate(25deg);
  }
  37.5% {
      transform: rotate(-20deg);
  }
  50% {
      transform: rotate(15deg);
  }
  62.5% {
      transform: rotate(-10deg);
  }
  75% {
      transform: rotate(5deg);
  }
  100% {
      transform: rotate(0deg);
  }
}

@media(max-width:992px){
  .nav-links{
    display: none!important;
  }
}
@media(max-width:500px){
  .nav-logos #icon,sup{
    display: none!important;
  }
}